html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(201, 235, 255);
    padding: 10px 20px 0px;
}

.menu ul {
    list-style-type: none;
    margin-top: 80px;
    text-align: center;
}

.menu li {
    margin-bottom: 80px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
}

.header {
    background-color: rgb(247, 249, 249);
    min-height: 150px;
}

.header h1 {
    position: absolute;
    margin-top: 35px;
    font-size: 60px;
    right: 15%;
    color: rgb(103, 103, 224);
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.home, .about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.home h2 {
    width: 40%;
    text-align: center;
    color: rgb(94, 93, 93);
}

.home img {
    border-radius: 300px;
}

.about p {
    width: 50%;
    padding: 50px;
    color: rgb(52, 52, 52);
    text-align: center;
    font-size: large;
}

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule table {
    border: solid 1px gray;
    width: 500px;
    margin: auto;
}

.schedule table td {
    text-align: center;
    padding: 10px;
}

.schedule table tr:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

.schedule table tr:hover {
    background-color: rgb(178, 180, 246);
}

.schedule table th {
    background-color: rgb(84, 84, 84);
    color: #f1f1f1;
    padding: 10px;
}

.schedule p {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}

.contact form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer {
    background-color: rgb(220, 211, 250);
    min-height: 50px;
    text-align: center;
    color: rgb(109, 106, 106);
}